.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  /* background: #f4f7fa; */
}

.auth-form {
  text-align: center;
  /* background: white; */
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

h2 {
  margin-bottom: 20px;
}

p {
  text-decoration: underline;
  margin-top: 20px;
  font-size: 14px;
}
