.custom-card {
  width: 350px;
  font-family: 'Comic Neue', sans-serif;
}

@media (max-width: 1350px) {
  .custom-card {
    width: 35vw;
  }
}

@media (max-width: 1260px) {
  .custom-card {
    width: 70vw;
  }
}